@model TestStore.Models.ChangeParol

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Смена пароля</h2>

<p>@Html.ValidationSummary(true)</p>
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
    <table class="login">
    <tr>
  <td align="left" class="logTD">Введите логин:</td><td align="right">@Html.EditorFor(p => p.Login)</td>
       <td> @Html.ValidationMessageFor(p => p.Login)</td>
  </tr>
    <tr>
       <td align="left" class="logTD">Введите пароль:</td><td align="right">@Html.EditorFor(p => p.OldPassword)</td>
        <td>@Html.ValidationMessageFor(p => p.OldPassword)</td>
        </tr>
    <tr>   
    
    <td align="left" class="logTD">Введите новый пароль:</td><td align="right">@Html.EditorFor(p => p.NewPassword)</td>
        <td>@Html.ValidationMessageFor(p => p.NewPassword)</td>
    </tr>
    <tr>
        <td align="left" class="logTD">Подтвердите новый пароль:</td><td align="right">@Html.EditorFor(p => p.ConfirmNewPassword)</td>
       <td>@Html.ValidationMessageFor(p => p.ConfirmNewPassword)</td>
    </tr>
    <tr>
     <td colspan="2" align="right"><input type="submit" value="Сохранить" class="logbutton" />
        </tr>
    </table>

}
<div class="actionButtons">@Html.ActionLink("Отменить", "Login")</div>

